.chats-page {
    display: flex;
    flex-direction: row;
}

.chat-list-container {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.chat-list {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.chat-list-item {
    display:flex;
    flex-direction: column;
    border: 1px solid lightblue;
    border-radius: 3px;
    margin: 5px 0;
    padding: 10px;
    align-items: center;
    background-color: purple;
    color: lightgreen;
}

.chat-list-item:hover {
    background-color: blueviolet;
    color: greenyellow;
}

.chat-list-item-name {
    font-weight: bolder;
}

.chat-list-item-detail {
    font-size: x-small;
    color: orange;
}

.chat-card-container {
    margin: 0 20px;
}


.chat-card-attr {
    border: 1px dashed darkslateblue;
    padding: 10px;
}

.chat-card-message{
    border: 1px solid indigo;
    background-color: white;
    color: black;
}



.message-list{
    display: flex;
    flex-direction: column;
    max-height: 80vh;
}
.message-list-item{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    margin-bottom: 10px;
    border: 1px solid lightblue;
    border-radius: 3px;
    margin: 5px 0;
    padding: 10px;
    background-color: rgb(3, 90, 172);
    color: white;
}

.message-list-item-header {
    display: flex;
  justify-content: space-between;
  align-items: center;
  }


  
/* Will be used later for styling */
.message-list-item-user{

}

.message-list-item-date{

}

.message-list-item-text{
}

